@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Lora&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Varela&display=swap');
:root {
  --font-tile: 'Brygada 1918', 'Montserrat', serif;
  --font-content: 'Varela', 'Antic Didone', sans-serif;
  --text-tomato: #5c271f;
  --text-low-tomato: #d13415;
  --background-white: #fcfcfc;
  --ui-bg-gray: #f0f0f0;
  --ui-gray-tomato: #f0f0f0;
  --ui-bg-tomato: #feebe7;
  --ui-bg-solid-jade: #29a383;
  --ui-bg-solid-hover-jade: #26997b;
  --ui-bg-jade: #e6f7ed;
  --ui-bg-hover-jade: #d6f1e3;
  --ui-boder-jade: #8bceb6;
  --ui-boder-tomato: #f5a898;
  --ui-boder-interactif-gray: #cecece;
  --focus-gray: #bbbbbb;
  --text-gray: #202020;
  --text-low-interactif: #208368;
  --text-interactif: #193b2d;
  /* --linearGray: linear-gradient(
    45deg,
    transparent 50%,
    rgb(124, 124, 124) 50%,
    rgba(124, 124, 124, 0.278)
  ); */
  --formationStroke: linear-gradient(45deg, var(--ui-bg-tomato) 0%, var(--ui-boder-tomato) 50%);
  --shadow-border: rgba(0, 0, 0, 0.4);
}
html {
  --res: calc(0.01 * 10vmin);
}
nav {
  font-size: 1.5rem;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  font-size: 1.5rem;
  font-size: clamp(1rem, 4vw, 1.25rem);
}
p,
span,
div {
  font-family: var(--font-content);
  color: var(--text-gray);
}
main {
  margin: 0 5vw;
}
a {
  font-family: var(--font-content);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text-interactif);
  transition: color 0.2s;
}
section a:hover {
  color: var(--text-low-interactif);
}
h1 {
  font-size: 4rem;
  font-family: var(--font-tile);
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
h2 {
  font-size: 3rem;
  font-family: var(--font-tile);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h3 {
  font-size: 2rem;
  font-family: var(--font-tile);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav a,
nav span {
  font-family: var(--font-tile);
}
nav {
  z-index: 9999;
  /* height: clamp(50px, 15vw, 75px); */
  position: fixed;
  top: 0;
  width: 100%;
  transition:
    background 0.08s ease-in,
    border-bottom 0.4s ease-in;
}
nav ul {
  height: 9vh;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  text-align: center;
  margin: auto 0;
}
nav ul li a {
  color: var(--text-gray);
  display: inline-flex;
  align-items: center;
}
nav ul.me a {
  font-size: 2rem;
}
nav i::before {
  transition: all 0.2s ease-out;
  font-size: 2rem;
}
nav a,
nav span {
  font-size: 1.25rem;
}
nav ul li.name.hide {
  transform: translate(0, -9vh);
}
nav ul li.name,
nav ul li.skills-projects {
  height: inherit;
}
nav ul li.name a,
nav ul li.skills-projects a {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
nav ul li.name a {
  display: flex;
  transition: color 0.2s ease-out;
}
nav ul li.name a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: var(--text-low-interactif);
  transition: border-bottom 0.2s ease-out;
}
nav ul li.name:hover a::after,
nav ul li.name.hide a::after {
  border-bottom: var(--ui-bg-gray) 3px solid;
}
nav ul li.name:hover a {
  /* border-bottom: var(--background) 3px solid; */
  color: var(--text-interactif);
}
nav ul li.name {
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  transition: transform 0.2s ease-in;
}
nav li.photo-profile {
  display: inline-grid;
  display: -ms-inline-grid;
  align-content: center;
}
nav li.photo-profile > a {
  height: 100%;
}
nav li.photo-profile img {
  width: 2.5rem;
  height: 2.5rem;
  /* transform: translateY(calc(calc(72px - 2rem)/2)); */
  transition: border-radius 0.2s ease-in;
}
nav li.photo-profile img.down,
nav li.photo-profile:hover img {
  border-radius: 50%;
}
nav li.photo-profile:hover img.down {
  border-radius: 0%;
}
/* nav li>a  {
    font-size: clamp(1rem, 5vw ,1.5rem);
} */
nav li.github a span {
  font-family: var(--font-tile);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
nav li.github {
  transition: transform 0.2s ease-in-out;
}

nav i {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
}
nav li.github.hide i::before {
  font-size: 2.5rem;
}
nav li.github.hide {
  transform: translate(calc(100% - 2.5rem), 0rem);
}
nav li.github:hover {
  transform: translate(0, 0rem);
}

header nav ul li.skills-projects {
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
}

.nav-sticked {
  border-bottom: 1px solid var(--focus-gray);
  background-color: var(--ui-bg-gray);
}

#header {
  margin: 0 5%;
  margin-top: max(20vh, 9rem);
  width: 60%;
  min-height: calc(65vh - 152px);
  margin-bottom: 1rem;
}
#header h2 {
  font-size: 1.8rem;
  font-family: var(--font-tile);
  font-weight: bold;
}
#header div {
  text-align: center;
  padding-top: 20px;
}
#header div a.contact-btn {
  transition: all 0.2s ease-out;
  padding: 10px;
  border: 1px solid var(--text-gray);
  background: var(--ui-bg-jade);
  border-radius: 4px;
}
#header div a.contact-btn:hover {
  border-radius: 4px;
  color: var(--background-white);
  background: var(--ui-bg-solid-jade);
}

section {
  min-height: 60vh;
  margin-bottom: max(25vh, 200px);
}
section:nth-last-of-type(1) {
  margin-bottom: 80px;
}

#about-me h2 {
  margin-left: 0;
}
#about-me div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: auto;
}
#about-me .space-between-vertcal p {
  flex-grow: 1;
  color: var(--background-white);
}
#about-me p {
  font-size: 1rem;
}
#about-me h2::before {
  content: none;
}
section#about-me {
  position: relative;
  background: var(--text-gray);
  color: var(--background-white);
  padding: 15px;
}
section#about-me::after {
  content: '';
  position: absolute;
  right: -5vw;
  top: 0;
  background-color: var(--text-gray);
  width: 5vw;
  height: 100%;
}

/* FOOTER */

footer address ul {
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;
}
footer address a {
  color: var(--text-gray);
  border-bottom: var(--text-low-interactif) 3px solid;
  transition: border-bottom 0.2s ease-out;
}
footer address a:hover {
  border-color: var(--background-white);
}

@media screen and (max-width: 740px) {
  fieldset {
    display: block;
  }
  input {
    width: 80vw;
  }
  main {
    margin: 0;
  }
}
