/* SVG FORMATIONS */

section#schoolcuriculum .school-step {
  width: calc(50% - 0.75vw);
  margin-top: 1rem;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  position: relative;
  padding: 10px;
  /* SvG a changer aussi pour br */
  border-radius: 10px;

  background: var(--ui-bg-tomato);
  background:
    linear-gradient(var(--ui-bg-tomato), var(--ui-bg-tomato)) 50% 50% / calc(100% - 9px)
      calc(100% - 9px) no-repeat,
    var(--formationStroke);
}
.school-step .text {
  position: relative;
  z-index: 3;
}
.school-step svg {
  /* .formation a changer aussi pour br */
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  display: block;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
}
.school-step svg path {
  stroke-width: 15px;
  vector-effect: non-scaling-stroke;
  stroke: var(--ui-bg-tomato);
}
.path {
  stroke-dasharray: 50;
  stroke-dashoffset: 400;
  animation: progress 8s linear forwards infinite;
}

/* FORMATIONS */

section#schoolcuriculum {
  position: relative;
}
section#schoolcuriculum::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 4px;
  right: calc(50% - 2px);
  top: 0%;
  background-image: linear-gradient(
    to bottom,
    transparent 50%,
    var(--text-gray) 50%,
    var(--text-gray)
  );
  background-size: 100% 200%;
  animation:
    spanwAtMiddleTime 1.5s linear forwards 1,
    moveToUp 2s ease-in-out forwards infinite;
}
section#schoolcuriculum .school-step.in-viewport:nth-child(odd) {
  animation-name: spawnTranslateLeft;
}
section#schoolcuriculum .school-step.in-viewport:nth-child(even) {
  animation-name: spawnTranslateRight;
}
section#schoolcuriculum .school-step:nth-child(even) {
  margin-left: auto;
}
section#schoolcuriculum .school-step::after {
  content: '';
  position: absolute;
  background-color: var(--text-gray);
  border-radius: 50%;
  width: 1.5vw;
  height: 1.5vw;
  top: 0;
  right: 0;
  transform: translate(100%, 50%);
}
section#schoolcuriculum .school-step.in-viewport::after {
  animation: spanwAtMiddleTime 1.5s linear forwards 1;
}
section#schoolcuriculum .school-step:nth-child(even)::after {
  transform: translate(-100%, 50%);
  left: 0;
}

@keyframes progress {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes moveToUp {
  0% {
    background-position-y: 200%;
  }
  10% {
    background-position-y: 100%;
  }
  45% {
    background-position-y: 100%;
  }
  65% {
    background-position-y: 0%;
  }
  100% {
    background-position-y: 0%;
  }
}

@keyframes spawnTranslateRight {
  from {
    transform: translate(100%, 0);
    opacity: 0%;
  }
  to {
    transform: translate(0, 0);
    opacity: 100%;
  }
}
@keyframes spawnTranslateLeft {
  from {
    transform: translate(-100%, 0);
    opacity: 0%;
  }
  to {
    transform: translate(0, 0);
    opacity: 100%;
  }
}
@keyframes spanwAtMiddleTime {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
