/* PRESENTATION DE PROJECT */

.projects-container {
  padding: 0 20vw;
}

.card {
  margin: 20vh 0;
  border: 1px solid;
  border-radius: 5px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
}

.card .card-header-content {
  overflow: hidden;
  display: inline-block;
}
.card .card-header-content::after {
  content: '';
  opacity: 0;
  height: 100%;
  opacity: 0;
  width: 20%;
  transform: translate(-50%, -60%) rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}
.card:hover .card-header-content::after {
  opacity: 1;
  transform: translate(-50%, 130%) rotate(30deg);
  transition-property: transform, opacity;
  transition-duration: 0.7s, 0.15s;
  transition-timing-function: ease;
}

.card:active .card-header-content:after {
  opacity: 0;
}
.card .card-header .card-header-content {
  backdrop-filter: blur(1px);
  align-self: center;
}
.card .card-header {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  backdrop-filter: blur(2px);
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.card .card-header h4 {
  border-radius: 15px;
  box-shadow:
    10px 0 5px var(--border-separator),
    -10px 0 5px var(--border-separator);
  text-align: center;
  font-size: 2.5rem;
  backdrop-filter: grayscale(0.65);
  -webkit-backdrop-filter: grayscale(1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:
    -1px 0px 0px var(--background),
    0px -1px 0px var(--background),
    1px 0px 0px var(--background),
    0px 1px 0px var(--background);
}

.card .card-content .formation-btn:hover {
  color: var(--background);
}
.card .card-content .formation-btn {
  text-align: center;
  border-radius: 5px;
  background-color: var(--interactif);
  color: var(--text);
  width: 200px;
  margin: 0 auto;
  transition: all 0.5s ease-out;
}
.card .card-content {
  background-color: var(--background);
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.card .card-content .card-technos-overview {
  align-self: flex-end;
}
.card .card-content .card-technos-overview span > span {
  color: var(--solid);
}
