
/* PRESENTATION DE PROJECT */

.projects-container {
    padding: 0 20vw;
}

.card{
    margin: 20vh 0;
    border: 1px solid;
    border-radius: 5px;
    max-height: 20vh;
    min-height: 450px;
    display: flex;
    flex-direction: column;
}

.card .card-header .card-header-content {
    backdrop-filter: blur(1px);
    /* height: 100%; */
    width: fit-content;
    display: flex;
    justify-content: center;
}
.card .card-header{
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    backdrop-filter: blur(2px);
    flex-grow: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.card .card-header h4{
    width: fit-content;
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 0 5px #555555c0,  -10px 0 5px #555555c0;
    height: 100%;
    z-index: 2;
    text-align: center;
    font-size: 2.5rem;
    backdrop-filter: grayscale(1);
    -webkit-backdrop-filter: grayscale(1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: -1px 0px 0px white, 0px -1px 0px white, 1px 0px 0px white, 0px 1px 0px white; 
}

.card .card-content .formation-btn {
    text-align: center;
    border-radius: 5px;
    background-color: var(--gray);
    width: 200px;
    margin: 0 auto;
}
.card .card-content {
    background-color: white;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.card .card-content .card-details {}
.card .card-content .card-technos-overview {
    align-self: flex-end;
}
.card .card-content .card-technos-overview span > span{
    color: red;
}