
#main-skills h3{
    text-align: center;
}
#main-skills h3::before{
    content: none!important;
}
#main-skills #back-skills .all-section-skill-container,
#main-skills #front-skills .all-section-skill-container{
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    min-height: calc(2*calc(2rem + 1.5rem));
    height: 50vh;
    position: relative;
    
}
#main-skills #back-skills .all-section-skill-container{
    border-left: 1px solid var(--black);
}
#main-skills #front-skills .all-section-skill-container{
    border-right: 1px solid var(--black);
}

#main-skills #back-skills .all-section-skill-container::before,
#main-skills #back-skills .all-section-skill-container::after{
    content: "";
    position: absolute;
    height: 30%;
    border-right: 1px solid var(--black);
    right: 0;
}
#main-skills #back-skills .all-section-skill-container::after{
    top: 0;
}
#main-skills #back-skills .all-section-skill-container::before{
    bottom: 0;
}

#main-skills #front-skills .all-section-skill-container::before,
#main-skills #front-skills .all-section-skill-container::after{
        content: "";
        position: absolute;
        left: 0;
        height: 30%;
        border-left: 1px solid var(--black);
}
#main-skills #front-skills .all-section-skill-container::after{
    top: 0;
}
#main-skills #front-skills .all-section-skill-container::before{
    bottom: 0;
}

#main-skills span{
    z-index: 2;
    
}
#main-skills .pos-0, #main-skills .pos-1,
#main-skills .pos-2, #main-skills .js, #main-skills .css {
    position: absolute;

}
#main-skills .pos-0{
    bottom: 0;
}
#main-skills .pos-1{
    top: 0;
}
#main-skills .pos-2{
    top: calc(50% - calc(1.5rem/2));
}
#main-skills #back-skills .pos-2{
    left: 0;
}
#main-skills #front-skills .pos-2{
    right: 0;
}
#main-skills .js{
    top: 0;
}
#main-skills .css{
    bottom: 0;
}
#main-skills span::before,
#back-skills span.vert,#back-skills span.horiz,
#front-skills span{
    position: absolute;
    background: var(--black);
}
#back-skills span.vert,
#front-skills span.vert{
    top: calc(2rem + 1.5rem + 10px);
    height: calc(100% - 2*calc(2rem + 1.5rem + 10px));
    width: 4px;
    right: 50%;
    left: 50%;
}
#back-skills span.horiz{
    top: 50%;
    bottom: 50%;
    right: 50%;
    height: 4px;
    width: calc(50% - 140px);
}
#front-skills span.horiz{
    top: 50%;
    bottom: 50%;
    left: 50%;
    height: 4px;
    width: calc(50% - 140px);
}
#back-skills span.vert::before,
#front-skills span.vert::before{
    content: "";
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    width: 20px;height: 20px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
#front-skills span.anim{
    position: absolute;
    z-index: 0;
    width: 150%;
    height: 4px;
    top: 50%;
    bottom: 50%;
    left: -100%;
    background: linear-gradient(to left, transparent 90%,  var(--black) 90%, var(--black));
    background-size: 200%;
    animation: backToFront 3s 0s infinite ease-in-out;
}
#used-skills .skill-title-container{
    display: flex;
}

.container-subtitle-async:nth-child(2n) h3.subtitle::before{
    animation-delay: 1.5s;
    /* animation-duration : 4.5s; */
}
.skill-container{
    margin: 0 15px;
    text-align: center;
}
.skill-container i{
    font-size: 2rem;
    margin: 0 auto;
    width: 2rem;
    display: flex;
    height: 2rem;
}
.all-section-skill-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5vh;    
}
.container-skills{
    margin-bottom: 15vh;
}
#main-skills{
    display: flex;
    justify-content: space-between;
    position: relative;
}
#main-skills #back-skills, #main-skills #front-skills{
    width: 40%;
}


/* ANIMATION */

@keyframes backToFront {
    0%{
        background-position: 220%;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 220%;
    }
}
@keyframes moveToUp {
    0%{
        background-position-y: 0%;
    }
    10%{
        background-position-y: 0%;
    }
    45%{
        background-position-y: 100%;
    }
    65%{
        background-position-y: 100%;
    }
    100%{
        background-position-y: 200%;
    }
}