.technos-container {
  margin: 0 1vw;
  text-align: center;
  min-width: 60px;
}
.technos-container.animate:hover i::before {
  font-size: var(--p-font-size);
  transition: font-size 0.1s ease-in-out;
}
.technos-container i::before {
  transition: font-size 0.4s ease-in-out;
}
.technos-container i {
  font-size: 1.5rem;
}
.technos-container i {
  font-size: 2rem;
  margin: 0 auto;
  width: fit-content;
  display: flex;
  height: 2rem;
}
