#web-techno-main {
  overflow: hidden;
}
#web-techno-main h3 {
  text-align: center;
}
#web-techno-main h3::before {
  content: none !important;
}
.web-techno-icons-container p {
  color: var(--text-tomato);
}
#web-techno-main #web-techno-backend .web-techno-icons-container,
#web-techno-main #web-techno-frontend .web-techno-icons-container {
  border-top: 1px solid var(--ui-boder-tomato);
  border-bottom: 1px solid var(--ui-boder-tomato);
  min-height: 10rem;
  height: 50vh;
  position: relative;
  background-color: var(--ui-bg-tomato);
}
#web-techno-main #web-techno-backend .web-techno-icons-container {
  border-left: 1px solid var(--ui-boder-tomato);
}
#web-techno-main #web-techno-frontend .web-techno-icons-container {
  border-right: 1px solid var(--ui-boder-tomato);
}

#web-techno-main #web-techno-backend .web-techno-icons-container::before,
#web-techno-main #web-techno-backend .web-techno-icons-container::after {
  content: '';
  position: absolute;
  height: 30%;
  border-right: 1px solid var(--ui-boder-tomato);
  right: 0;
}
#web-techno-main #web-techno-backend .web-techno-icons-container::after {
  top: 0;
}
#web-techno-main #web-techno-backend .web-techno-icons-container::before {
  bottom: 0;
}

#web-techno-main #web-techno-frontend .web-techno-icons-container::before,
#web-techno-main #web-techno-frontend .web-techno-icons-container::after {
  content: '';
  position: absolute;
  left: 0;
  height: 30%;
  border-left: 1px solid var(--ui-boder-tomato);
}
#web-techno-main #web-techno-frontend .web-techno-icons-container::after {
  top: 0;
}
#web-techno-main #web-techno-frontend .web-techno-icons-container::before {
  bottom: 0;
}

#web-techno-main span {
  z-index: 2;
}
#web-techno-main .pos-0,
#web-techno-main .pos-1,
#web-techno-main .pos-2 {
  position: absolute;
}
#web-techno-main .pos-0,
#web-techno-main .pos-1 {
  left: 0;
  right: 0;
  margin: 0 auto;
}
#web-techno-main .pos-0 {
  bottom: 0;
}
#web-techno-main .pos-1 {
  top: 0;
}
#web-techno-main .pos-2 {
  top: 50%;
  transform: translate(0, -50%);
}
#web-techno-main #web-techno-backend .pos-2 {
  left: 0;
}
#web-techno-main #web-techno-frontend .pos-2 {
  right: 0;
}
#web-techno-main span::before,
#web-techno-backend span.vert,
#web-techno-backend span.horiz,
#web-techno-frontend span {
  position: absolute;
  background: var(--text-gray);
}
#web-techno-backend span.vert,
#web-techno-frontend span.vert {
  top: calc(2rem + 1.5rem + 10px);
  height: calc(100% - 2 * calc(2rem + 1.5rem + 10px));
  width: 4px;
  right: calc(50% - 2px);
}
#web-techno-backend span.horiz,
#web-techno-frontend span.horiz {
  top: calc(50% - 2px);
  height: 4px;
  width: calc(50% - 140px);
}
#web-techno-backend span.horiz {
  right: 50%;
}
#web-techno-frontend span.horiz {
  left: 50%;
}
#web-techno-backend span.vert::before,
#web-techno-frontend span.vert::before {
  content: '';
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
#web-techno-frontend span.anim {
  position: absolute;
  z-index: 0;
  width: 150%;
  height: 4px;
  top: calc(50% - 2px);
  bottom: 50%;
  left: -100%;
  background: linear-gradient(to left, transparent 90%, var(--text-gray) 90%, var(--text-gray));
  background-size: 200%;
}

#web-techno-main {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#web-techno-main.reveal #web-techno-frontend,
#web-techno-main.reveal #web-techno-backend {
  transform: translateY(30%);
  opacity: 0;
}
/* #web-techno-main.reveal #web-techno-backend {
  transition: all 1s ease-in-out;
  animation: spawnBack 0.5s linear forwards 1;
}
#web-techno-main.reveal #web-techno-frontend {
  animation: spawnFront 0.5s linear forwards 1;
  transition: all 1s ease-in-out;
} */
#web-techno-main #web-techno-backend,
#web-techno-main #web-techno-frontend {
  width: 40%;
  transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
}
#web-techno-main #web-techno-backend {
  transition-delay: 0.1s;
  transition-duration: 0.9s;
}
#web-techno-main.reveal span.anim {
  opacity: 0;
}
#web-techno-main span.anim {
  transition: opacity 1s 0.9s cubic-bezier(0.7, 0, 0.3, 1);
  animation: backToFront 3s 0.8s infinite ease-in-out;
}
/* .web-front-spawn-animation {
  animation: spawnFront 1.5s linear forwards 1;
}
.web-back-spawn-animation {
  animation: spawnBack 1.5s linear forwards 1;
} */
/* ANIMATION */

@keyframes backToFront {
  0% {
    background-position: 220%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 220%;
  }
}
