@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Lora&family=Montserrat:ital@1&display=swap');
:root {
    --white : rgb(240, 232, 232);
    --white-less-opacity : rgba(240, 232, 232, 0.348);
    --black : rgb(27, 26, 26);
    --gray : rgb(209, 200, 200);
    --linearGray : linear-gradient(45deg, transparent 50%, rgb(124, 124, 124) 50%, rgba(124, 124, 124, 0.278));
    --linearGreen : linear-gradient(45deg, #85FFBD 0%, #FFFB7D 50%);
}
html{
    --res: calc(0.01*10vmin);
}
nav {
    
    font-size: 1.5rem;
}
*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    font-size: 1.5rem;
    font-size: clamp(0.8rem, 4vw , 1.5rem);
}
.bg .filter-bg:nth-child(even){
    background-image: linear-gradient(255deg, transparent, rgba(255, 255, 255, 0.219) 60%), 
    radial-gradient(ellipse at center, #92929256 20%, #74747467 60%);
}
.bg .filter-bg:nth-child(odd){
    background-image: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.589) 60%),
    radial-gradient(ellipse at center,  #7070709d 20%, #3131319d 60%);
}
.bg .filter-bg:nth-child(3n){
    width: 80vw ;height: 30vh;
}
.bg .filter-bg:nth-child(3n+2){
    width: 20vw;height: 45vh;
}
.bg .filter-bg:nth-child(3n+1){
    width: 35vw;height: 40vh;
}
.bg .filter-bg{
    background-size: 100% ;
    background-repeat: no-repeat;  
    position: absolute;
    width: 500px;height: 500px;
    z-index: -1;
    filter: brightness(1.2) blur(190px) saturate(0.5) opacity(0.2);
}
.bg{
    height: 0;
    width: 0;
}
p, span, div {
    font-family: 'Montserrat', sans-serif;
}
html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
main{
    margin: 0 5%;
    backdrop-filter: blur(20px);
}
a{
    color: var(--black);
    font-family: 'Antic Didone', serif;
    font-weight: 700;
}
h1{
    font-size: 4rem;
    font-family: 'Antic Didone', serif;
    font-weight: 100;
}
h2{
    font-size: 3rem;
    font-family: 'Antic Didone', serif;
}
h3{
    font-size: 2rem;
    font-family: 'Antic Didone', serif;
}

nav{
    z-index: 9999;
    /* height: clamp(50px, 15vw, 75px); */
    position: fixed;
    top: 0;
    width: 100%;
    transition: background 0.1s ease-in, border-bottom 0.5s ease-in;
}
nav ul { 
    height: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    text-align: center;
}
nav ul li a {
    line-height: 2.1;
}
nav img{
    width: 1.5rem;
    /* transform: translateY(calc(calc(72px - 2rem)/2)); */
    transition: border-radius 0.2s ease-in ;

}
nav img.down{
    border-radius: 50%;

}
nav ul li.name.hide { 
    transform: translate(0, -2.1rem);
}
nav ul li.name { 
    transition: transform 0.2s ease-in;
}
nav li.photo-profile > a{
    position: relative;
}
nav li.photo-profile > a > img{
    position: absolute;
    top: 120%;
    
}
/* nav li>a  {
    font-size: clamp(1rem, 5vw ,1.5rem);
} */
nav li.github{
    transition: transform 0.2s ease-in;
}

nav i{
    font-size: 1.5rem;
}
nav li.github.hide{
    transform: translate(87%, 0rem);
}
nav li.github a > span{
    /* padding-left: 1rem; */
}
nav li.github:hover{
    transform: translate(0, 0rem);
}

.nav-sticked{
    border-bottom: 1px solid var(--black);
    background-color: #fff;
}

#intro{
    padding-top: 10vh;
    margin: 0 3%;
    margin-top: 10vh;
    width: 60%;
    min-height: 100vh;
}
#intro h2{
    font-size: 1.8rem ;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}
#intro p{
    font-size: 1rem;
    
}
#intro div{
    text-align: center;
    padding-top: 20px;
    
}
#intro div a.contact-btn{
    transition: all 0.2s ease-in ;
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 4px;

}
#intro div a.contact-btn:hover{
    border: 1px solid var(--white);
    border-radius: 4px;
    color: var(--white);
    background: var(--black);
    
}

section{
    min-height: 60vh;
    margin-bottom: max(40vh, 200px);
}
section:nth-last-of-type(1){
    margin-bottom: 80px;
}
section {
}
section h2{
    margin-left: 6vw;
    position: relative;
    line-height: 1.5;
}
section h2::before{
    position: absolute;
    top: 1.5rem;
    left: -6vw;
    content: "";
    width: 6vw;
    height: 1.5rem;

    background: linear-gradient(to left, #000 35%,  #00000000 50%);
    background-size: 200% 100%;
    background-position-x: 100%;   

}
section h2:hover::before{
    animation: h3Spacer 5s infinite ease alternate;

}
#about-me h2{
    margin-left: 0 ;
}
#about-me p{
    font-size: 1rem;
}
#about-me h2::before{
    content: none;
    
}
section#about-me{
    position: relative;
    background: var(--black);
    color: var(--white);
    padding: 15px;
}
section#about-me::after{
    content: "";
    position: absolute;
    right: -5vw;
    top: 0;
    background-color: var(--black);
    width: 5vw;
    height: 100%;
}

#main-skills h3{
    text-align: center;
}
#main-skills h3::before{
    content: none!important;
}
.container-skills{
}
#main-skills #back-skills .all-section-skill-container,
#main-skills #front-skills .all-section-skill-container{
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    min-height: calc(2*calc(2rem + 1.5rem));
    height: 50vh;
    position: relative;
    
}
#main-skills #back-skills .all-section-skill-container{
    border-left: 1px solid var(--black);
}
#main-skills #front-skills .all-section-skill-container{
    border-right: 1px solid var(--black);
}

#main-skills #back-skills .all-section-skill-container::before,
#main-skills #back-skills .all-section-skill-container::after{
    content: "";
    position: absolute;
    height: 30%;
    border-right: 1px solid var(--black);
    right: 0;
}
#main-skills #back-skills .all-section-skill-container::after{
    top: 0;
}
#main-skills #back-skills .all-section-skill-container::before{
    bottom: 0;
}

#main-skills #front-skills .all-section-skill-container::before,
#main-skills #front-skills .all-section-skill-container::after{
        content: "";
        position: absolute;
        left: 0;
        height: 30%;
        border-left: 1px solid var(--black);
}
#main-skills #front-skills .all-section-skill-container::after{
    top: 0;
}
#main-skills #front-skills .all-section-skill-container::before{
    bottom: 0;
}

#main-skills span{
    z-index: 2;
    
}
#main-skills .php, #main-skills .node,
#main-skills .mysql, #main-skills .js, #main-skills .css {
    position: absolute;

}
#main-skills .php{
    bottom: 0;
}
#main-skills .node{
    top: 0;
}
#main-skills .mysql{
    left: 0;
    top: calc(50% - calc(1.5rem/2));
}
#main-skills .js{
    top: 0;
}
#main-skills .css{
    bottom: 0;
}
#main-skills span::before,
#back-skills span.vert,#back-skills span.horiz,
#front-skills span{
    position: absolute;
    background: var(--black);
}
#back-skills span.vert,
#front-skills span{
    top: calc(2rem + 1.5rem + 10px);
    height: calc(100% - 2*calc(2rem + 1.5rem + 10px));
    width: 4px;
    right: 50%;
    left: 50%;
}
#back-skills span.vert::before,
#front-skills span.vert::before{
    content: "";
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    width: 20px;height: 20px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
#back-skills span.horiz{
    top: 50%;
    bottom: 50%;
    right: 50%;
    height: 4px;
    width: calc(50% - 140px);
}
#front-skills span.anim{
    position: absolute;
    z-index: 0;
    width: 150%;
    height: 4px;
    top: 50%;
    bottom: 50%;
    left: -100%;
    background: linear-gradient(to left, transparent 90%,  var(--black) 90%, var(--black));
    background-size: 200%;
    animation: backToFront 3s 0.5s infinite ease-in-out;
}
section#skills .skill-title-container{
    display: flex;
}
section#skills h3{
    position: relative;
    width: auto;
}
section#skills #used-skills .container-skills:nth-child(2n) h3::before{
    animation-delay: 0.5s;
    animation-duration : 4.5s;
}
section#skills h3::before{
    content: "";
    position: absolute;
    bottom: -10px;
    right: 15px;left: 15px;
    width: calc(100% - 30px);
    height: 4px;
    background-image: linear-gradient(to bottom, transparent 50%,  var(--black) 50%, var(--black));
    background-size: 100% 200%;
    animation-name: moveToUp;
    animation-duration : 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.skill-container{
    margin: 0 15px;
    text-align: center;
}
.skill-container i{
    font-size: 2rem;
    margin: 0 auto;
}
.all-section-skill-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5vh;    
}
.container-skills{
    margin-bottom: 15vh;
}
#main-skills{
    display: flex;
    justify-content: space-between;
    position: relative;
}
#main-skills #back-skills, #main-skills #front-skills{
    width: 40%;
}


.projet-pro{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    min-height: 400px;
    height: 70vh;
    margin-bottom: 5vh;
    border-radius: 5px;
    border: 1px solid var(--black);
    padding: 10px;
}
.projet-pro .text{
    backdrop-filter: blur(0.8px);
    background-color: var(--white-less-opacity);
    width: 100%;
    /* height: 100%; */
    border-radius: 40px;
}
.projet-pro .text div{
    display: flex;
}

.projet-pro h4{
    text-align: center;
    margin: 0 auto;
}
.projet-pro p , .projet-pro h4 {
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px;
    border-radius: 10px;
}
.projet-pro p {
    font-size:calc(32*var(--res));
}

.projet-pro .images-container{
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    overflow: hidden;
}
.projet-pro .images-container .images-pro{
    position: absolute;
    min-width: 40%;
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border: 1px solid var(--black);
}
.projet-pro .images-container .images-pro.i0{
    transform: rotateZ(10deg);
    top: 5%;
    left: 3%;
}
.projet-pro .images-container .images-pro.i1{
    transform: rotateZ(-15deg);
    bottom: 10%;
    right: 20%;
}
.projet-pro .images-container .images-pro.i2{
    transform: rotateZ(30deg);
    bottom: 10%;
    right: 4%;
}
.projet-pro .images-container .images-pro.i3{
    transform: rotateZ(30deg);
    bottom: 9%;
    right: 70%;
}
.projet-pro .images-container .images-pro.i4{
    transform: rotateZ(30deg);
    bottom: 40%;left: 10%;
}
.projet-pro .images-container .images-pro.i5{
    transform: rotateZ(30deg);
    bottom: 90%;
    right: 20%;;
}




#projet-perso #projets-personel > div{

    display: inline-grid;
    
    grid-auto-columns: minmax(125px, auto);
    grid-gap: .5rem;
    width: 100%;

}

#projet-perso #projets-personel > div{
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr;
    column-gap: 20px;
  }
  
  @media screen and (max-width: 992px){
     
    #projet-perso #projets-personel > div{
        grid-template-columns: 1fr;
     }
  }
.projet-pers{
    height: 400px;
    padding: 15px;
}
.projet-pers .card{
    position: relative;
    transform-style: preserve-3d;
    border: 4px solid var(--black);
    transition: transform 0.2s ease-in-out;
    background: var(--gray);
    border-radius: 5px;
    height: 100%;
}
.projet-pers:hover .card{
    transform: rotateY(180deg);
}
.projet-pers .card .face-card{
    position: absolute;
    top: 0;bottom: 0;right: 0;left: 0;
    backface-visibility: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projet-pers .card .back-card p,
.projet-pers .card .front-card h4{
    margin: 15px;
    margin: 0 auto;
    backdrop-filter: blur(2px);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white-less-opacity);
}

.projet-pers .card .back-card{
    transform: rotateY(180deg);
}
.projet-pers .card .back-card p{
    position: absolute;
    bottom: 15px;left: 15px;
    font-size:calc(25*var(--res));
}
.projet-pers .card .front-card{
    display: flexbox;
}
.projet-pers .card .front-card h4{
    text-align: center;
    line-height: 0.9;
}

section#formation #formations > div{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  
  @media screen and (max-width: 992px){
     
    section#formation #formations > div{
        grid-template-columns: 1fr;
     }
  }
section#formation #formations .formation{
    position: relative;
    background: var(--gray);
    padding: 10px;
    /* SvG a changer aussi pour br */
    border-radius: 10px;
    
    background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 9px) calc(100% - 9px) no-repeat,
            var(--linearGreen);   
    background-color: #85FFBD;
            
}
section#formation #formations .formation .text{
    position: relative;
    z-index: 3; 
}
section#formation #formations .formation svg{
    /* .formation a changer aussi pour br */
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    display: block;
    top: 0px;bottom: 0px;right: 0px;left: 0px;
    z-index: 1;
}
section#formation #formations .formation svg path{
    stroke-width: 15px;
    vector-effect: non-scaling-stroke;
    stroke: #fff;
}
.path {
    stroke-dasharray: 50;
    stroke-dashoffset: 400;
    animation: progress 8s linear forwards infinite;
}


progress{
    width: 100%;
}
.progressbar {
    top: 100000px;
    
}

progress[value] {
    margin-bottom: 2.3rem;
    -webkit-appearance: none;
    appearance: none;
    border: none;

    width: 100%;
    height: 5vh;
}

progress[value]::-webkit-progress-bar {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    transition: all 1s ease;
    background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   var(--linearGreen);

    border-radius: 20px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value]::-webkit-progress-value::before {
    content: '80%';
    position: absolute;
    right: 0;
    top: -125%;
  }


  progress[value]::-webkit-progress-value::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 100%;
    right: 7px;
    top: 7px;
    background-color: var(--white);
  }

input, textarea{
    background: var(--white);
    border-radius: 8px;
    resize: none;
    padding: 10px;
    
}
fieldset{
    display: flex;
}
form .form-group{
    padding-top: 1.5rem;
    margin-bottom: 10px;
    position: relative;
}
form .form-group:focus-within label, form .form-group.animation label{
    top: -10px;
}
form .form-group label{
    position: absolute;
    top: calc(1.5rem + 10px);
    padding-left: 10px;
    transition: top 0.2s ease-in;
}

form .form-group textarea{
    width: 90%;
    height: 40vh;
}
form input[type="submit"]{
    text-align: center;
    width: 100px;
    border-radius: 99px;
}
form .form-group{
    width: 100%;
    text-align: center;
}
form .form-group .err{
    position: absolute;
    color: tomato;
    bottom: -1.5rem;
    left: 0;
    width: 100%;
    
}
.form-group input[type="submit"]{
    transition: background-position 0.2s ease-in, color 0.2s ease-out;
    width: auto;
    padding: 15px 60px;
    border: 3px solid var(--black);
    border-radius: 999px;
    background-image: linear-gradient(45deg, transparent 50%, #85FFBD 50%, #FFFB7D);
    background-size: 200%;
    font-size: 2rem;
    cursor: pointer;
}
.form-group input[type="submit"]:disabled{
    background-image: var(--linearGray);
    cursor: default;
}
.form-group input[type="submit"]:disabled:hover{
    color: var(--gray);
}
.form-group input[type="submit"]:hover {
    color: var(--black);
    background-position: 100%;
    border: 3px solid var(--white);
    
}
footer address ul {
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}
footer address a {
    border-bottom: var(--black) 3px solid;
    transition: border-bottom 0.2s ease-out;
}
footer address a:hover {
    border-color: #fff;
}

.wp-footer {
    margin-left: 10vw;
    margin-top: auto;
    padding-top: 15px ;
}
@keyframes backToFront {
    0%{
        background-position: 220%;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 220%;
    }
}
@keyframes moveToUp {
    0%{
        background-position-y: 0%;
    }
    10%{
        background-position-y: 0%;
    }
    45%{
        background-position-y: 100%;
    }
    65%{
        background-position-y: 100%;
    }
    100%{
        background-position-y: 200%;
    }
}
  
@keyframes progress {
    to {
    stroke-dashoffset: 0;
  }
}

@keyframes h3Spacer{
    from{
        background-position-x: 100%;
    }
    25%{
        background-position-x: 85%;
    }
    50%{
        background-position-x: 90%;
    }
    75%{
        background-position-x: 70%;
    }
    to{
        background-position-x: 80%;
    }
}
@media screen and (max-width: 740px) {
    fieldset{
        display: block;
    }
    input{
        width: 80vw;
    }
    main{
        margin: 0;
    }
    
}