name: Create Github page

on:
  push:
    branches:
    - master
    - v2
  pull_request:
    branches:
    - master
    - v2

jobs:
  #### set-up github-page
  deploy-github-page:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: build

      - id: build-publish
        uses: bitovi/github-actions-react-to-github-pages@v1.2.4
        with:
          path: build # change to your build folder
