name: Continous Intergration

on:
  pull_request:
    branches:
    - main
    - v2

jobs:

  # test-front:
  #   runs-on: ubuntu-latest
  #   steps:
  #     # Recup les fichiers de travaille
  #     - uses: actions/checkoutv3
      
  #     # utilise node
  #     - name: Use Node.js  22
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: 22
  #       # execute des commandes
  #     - name: Install Dependencies
  #       run: npm install
      
  #     - name: Install Dependencies
  #       run: npm test

  build:
    runs-on: ubuntu-latest
    steps:
      # Recup les fichiers de travaille
      - uses: actions/checkout@v4
      
      # utilise node
      - name: Use Node.js  22
        uses: actions/setup-node@v4
        with:
          node-version: 22
        # execute des commandes
      - name: Clean install NPM
        run: npm ci

      - name: Install Dependencies
        run: npm install --legacy-peer-deps
      
      - name: Check Type
        run: npm run typecheck

      - name: Install Dependencies
        run: npm build

  # build-image:
  #   runs-on: ubuntu-latest
    
  #   if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
  #   # changer de repertoire de travail
  #   # defaults:
  #   #   run:
  #   #     working-directory:

  #   permissions: 
  #     packages: write
  #     contents: read
      
  #   steps:
  #     # Recup les fichiers de travaille
  #     - uses: actions/checkoutv4
      
  #     # utilise node
  #     - name: Login in to registry
  #       run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin
      
  #     - name: Build the docker image
  #       uses: docker/build-push-action@v2
  #       with:
  #         context: .
  #         file: Dockerfile
  #         push: true
  #         tags: ghcr.io/{{ github.repository_owner }}/portfolio:${{ github.ref_name }}

  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
    - id: build-publish
      uses: bitovi/github-actions-react-to-github-pages@v1.2.4
      with:
        path: build # change to your build folder